<div class="container">
  <div class="row">
  <div class="col-md-6">
    <h2>Fill in the details</h2>
      <form>
        <div class="form-group">
          <label for="fname">First Name:</label>
          <input type="text" class="form-control" id="fname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname">
          </div>
          <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone No:</label>
                <input type="text" class="form-control" id="phone">
              </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
  <div class="col-md-6">2</div>
</div>
</div>

